
@using Klad.Models
@model IndexViewModel
@*подключаем все tag-хелперы*@
@addTagHelper "*, Klad"

@{
    ViewData["Title"] = "Каталог товаров";
    //   Layout = null;
}

<!DOCTYPE html>

<html>

<body>
    <table class="table-condensed">

        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Company</td>
                <td>@product.Category</td>
                <td>@product.Price</td>

                @*@{product.Address += ".jpg";} не понравился этот вариант тем, что могут быть другие расширения поэтому в адресе сразу с раширеинем*@

                <img src="~/images/@product.Category/@product.Category2/@product.Address" alt="@product.Category/@product.Category2/@product.Address">
                <td><a href="~/Home/ViewProduct/@product.Id">Подробнее</a></td>
            </tr>
        }
    </table>
    <div>

        @foreach (var _page in Model.Pages)
        {<table>
                <tr>
                    <td><a href="/@Model.CurrentCategory/@_page"> @_page</a></td>
                </tr>
            </table>
        }

    </div>
    @*//описание категорий внизу*@
    @foreach (var DicCatalogKey in Model.DiscriptionCatalog.Keys)
    {
        if (DicCatalogKey == Model.CurrentCategory)
        {
            foreach (var Value in Model.DiscriptionCatalog[DicCatalogKey])
            {
                <table class="table-condensed">
                    <tr>
                        <td>@Value.Key</td>
                    </tr>
                    <tr>
                        <td>@Value.Value</td>
                    </tr>
                </table>

            }
        }
    }


</body>
</html>