@*@model IEnumerable<Klad.Models.Product>*@
@*@using Klad.Models
@model IndexViewModel*@
@using Klad.Models
@model IndexViewModel
@*подключаем все tag-хелперы*@
@addTagHelper "*, Klad"

@{
    ViewData["Title"] = "Каталог товаров";
    //   Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Магазин смартфонов пока</title>
</head>
<body>
    <h3>Смартфоны</h3>
    <table class="table-condensed">
        @*Распределяет или выравнивает текст в таблице*@
        <tr>
            <td>Модель</td>
            <td>Производитель</td>
            <td>Цена</td>
            <td></td>
        </tr>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Company</td>
                <td>@product.Price</td>
                <td><a href="~/Home/Buy/@product.Id">Купить</a></td>
            </tr>
        }
    </table>
    <page-link page-model="Model.PageViewModel" page-action="Index"></page-link>

    <h3>Каталоги</h3>
    <table class="table-condensed">
        @*Распределяет или выравнивает текст в таблице*@
        <tr>
            <td>Модель</td>
            <td>Производитель</td>
            <td>Цена</td>
            <td></td>
        </tr>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Company</td>
                <td>@product.Price</td>
                <td><a href="~/Home/Buy/@product.Id">Купить</a></td>
            </tr>
        }
    </table>

</body>
</html>